/* Adding fonts to the body text */
div {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 10px 10px;
  }
  
  /* adding style to buttons */
  button {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: large;
  }
  
/* Styling the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

nav a:hover {
  background: #93c47d;
}

/* centering specific elements */
#IBDfact {
  text-align: center;
}

#IBDinfo {
  text-align: center;
}

#emailentry {
  text-align: center;
}

#mainList {
  text-align: center;
}

#intro {
  text-align: center;
}

/* calorie tracking page css */
#macropageh1 {
  text-align: center;
}

#macropageh3 {
  text-align: center;
}

/* #caloriechart {
  display: block;
  margin: 0 auto;
  text-align: center;

} */

#calorietotal {
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
}

/* notes page css */
#note {
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
}

#notesh1 {
  text-align: center;
}

#notesh3 {
  text-align: center;
}

#notesform {
  text-align: center;
}

/* calendar page css */
#calendarh1 {
  text-align: center;
}

#calendarh3 {
  text-align: center;
}

#calendarform {
  text-align: center;
  display: inline-block;
  display: flex; flex-wrap: wrap;
}


form {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
label {
  flex-basis: 50%;
  text-align: center;
}
input {
  flex-basis: 50%;
  text-align: center;
}
textarea {
  flex-basis: 50%;
  text-align: center;
}
button {
  flex-basis: 100%;
  text-align: center;
}
